@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  min-width: 600px;
  font-family: 'Inter', sans-serif;
}

.column {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.column-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.column h2 {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.5s;
}

.column h2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.copied-animation-block {
  width: 80px;
  height: 25px;
  font-size: 14px;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2939c1;
}

.copied-animation-container_hidden {
  opacity: 0;
}

.copied-animation-container_visible {
  animation-name: show-in, show-out;
  animation-duration: 1s, 0.5s;
  animation-delay: 0s, 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes show-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.btn {
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.btn.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.5s;
}

.info {
  width: 25px;
  height: 25px;
  cursor: help;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  color: #fff;
  font-size: 12px;
  background-color: #1d2939;
  border-radius: 50px;
  top: 10px;
  right: 20px;
}

.shown-info {
  position: absolute;
  line-height: 1.5rem;
  width: 90%;
  min-width: 500px;
  min-height: 140px;
  font-size: 14px;
  background-color: #1d2939;
  color: #fff;
  top: 10px;
  right: 50px;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.7s;
}

.hidden-info {
  position: absolute;
  top: 10px;
  right: 60px;
  background-color: transparent;
  color: transparent;
  transition: 0.7s;
}
